<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark justify-content-center navbar-light">
 <ul class ='nav'>
     <li class = 'nav-link'><a href="{{ url_for("welcome_stud")}}">Student</a> </li>
     <li class = 'nav-link'><a href="{{ url_for("welcome_comp")}}">Company</a></li>
 </ul>
</nav>
<div class="jumbotron">
    <h3 class="text-dark">CHOOSE ONE OF THE FOLLOWING OPTIONS</h3>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
    <ul class = "jumbotron">

        <h4>Student Section :</h4>
        <li>1> Sign Up as Student </li>
        <li>2> Make Prediction For Placement </li>
        <li>3> Choose From The Company Detail Page if passed!! </li>
        <br>
        <hr style="height:2px;border-width:0;color:gray;background-color:gray">
        <br>
        <h4>Company Section :</h4>
        <li>1> Sign Up as a Company </li>
        <li>1> Enter Details To Register As Company </li>
    </ul>
</div>

</body>
</html>