{% extends "welcome_stud.html" %}
{% block content %}
<form method="post">
    <div class="jumbotron">
      <h1 class="text-dark">Enter Details For Prediction Here :</h1>
    <p></p>

    {{form.hidden_tag()}}
    {{form.label1.label}}  {{form.label1}}
        <br>
    {{form.label2.label}}  {{form.label2}}
        <br>
    {{form.label3.label}}  {{form.label3}}
        <br>
        {{form.label4.label}}  {{form.label4}}
        <br>
        {{form.label5.label}}  {{form.label5}}
        <br>
        {{form.label6.label}}  {{form.label6}}
        <br>
        {{form.label7.label}}  {{form.label7}}
        <br>
        {{form.label8.label}}  {{form.label8}}
        <br>
        {{form.label9.label}}  {{form.label9}}
        <br>
        {{form.label10.label}}  {{form.label10}}
        <br>
        {{form.label11.label}}  {{form.label11}}
        <br>
    {{form.submit()}}
    </div>
</form>
{% endblock %}